<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="public/layout">
<div th:fragment="content">

    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">首页</a>
            </li>
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#"></a>
            </li>
            <li><a href="#"></a></li>
            <li class="active">查看</li>
        </ul><!-- /.breadcrumb -->
    </div>

    <div class="page-content">

        <div class="row">
            <div class="col-xs-12">
                <!-- 返回栏 -->
                <div class="j-back-bar">
                    <div class="j-back-btn-group">
                        <button class="btn btn-white btn-success btn-round j-step-backward">
                            <i class="ace-icon fa fa-backward "></i>
                            返回
                        </button>
                    </div>
                </div>

                <!-- 表单 -->
                <form class="layui-form" action="">
                    
                    <div class="layui-form-item">
                        <label class="layui-form-label">ID</label>
                        <div class="layui-input-block">
                            <input type="text" name="id"
                                    th:value="${qtUser.id}"
                                    required  lay-verify="required"
                                    placeholder="请输入ID" autocomplete="off" class="layui-input"
                                    readonly
                            >
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">昵称</label>
                        <div class="layui-input-block">
                            <input type="text" name="nickname"
                                    th:value="${qtUser.nickname}"
                                    required  lay-verify="required"
                                    placeholder="请输入昵称" autocomplete="off" class="layui-input"
                                    readonly
                            >
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">手机号</label>
                        <div class="layui-input-block">
                            <input type="text" name="phone"
                                    th:value="${qtUser.phone}"
                                    required  lay-verify="required"
                                    placeholder="请输入手机号" autocomplete="off" class="layui-input"
                                    readonly
                            >
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">头像</label>
                        <div class="layui-input-block">
                            <input type="text" name="avatar"
                                    th:value="${qtUser.avatar}"
                                    required  lay-verify="required"
                                    placeholder="请输入头像" autocomplete="off" class="layui-input"
                                    readonly
                            >
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">微信openid</label>
                        <div class="layui-input-block">
                            <input type="text" name="openid"
                                    th:value="${qtUser.openid}"
                                    required  lay-verify="required"
                                    placeholder="请输入微信openid" autocomplete="off" class="layui-input"
                                    readonly
                            >
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">密码</label>
                        <div class="layui-input-block">
                            <input type="text" name="pwd"
                                    th:value="${qtUser.pwd}"
                                    required  lay-verify="required"
                                    placeholder="请输入密码" autocomplete="off" class="layui-input"
                                    readonly
                            >
                        </div>
                    </div>
                    
                </form>

            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.page-content -->
</div>

</html>

<script th:src="${'/static/js/qtuser/detail.js'}"></script>