<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="public/layout">
<div th:fragment="content">

    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">首页</a>
            </li>
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#"></a>
            </li>
            <li><a href="#"></a></li>
            <li class="active">查看</li>
        </ul><!-- /.breadcrumb -->
    </div>

    <div class="page-content">

        <div class="row">
            <div class="col-xs-12">
                <!-- 返回栏 -->
                <div class="j-back-bar">
                    <div class="j-back-btn-group">
                        <button class="btn btn-white btn-success btn-round j-step-backward">
                            <i class="ace-icon fa fa-backward "></i>
                            返回
                        </button>
                    </div>
                </div>

                <!-- 表单 -->
                <form class="layui-form" action="">
                    
                    <div class="layui-form-item">
                        <label class="layui-form-label">ID</label>
                        <div class="layui-input-block">
                            <input type="text" name="id"
                                    th:value="${shop.id}"
                                    required  lay-verify="required"
                                    placeholder="请输入ID" autocomplete="off" class="layui-input"
                                    readonly
                            >
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">店名</label>
                        <div class="layui-input-block">
                            <input type="text" name="shopName"
                                    th:value="${shop.shopName}"
                                    required  lay-verify="required"
                                    placeholder="请输入店名" autocomplete="off" class="layui-input"
                                    readonly
                            >
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">主图</label>
                        <div class="layui-input-block">
                            <input type="text" name="mainPic"
                                    th:value="${shop.mainPic}"
                                    required  lay-verify="required"
                                    placeholder="请输入主图" autocomplete="off" class="layui-input"
                                    readonly
                            >
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">地址</label>
                        <div class="layui-input-block">
                            <input type="text" name="address"
                                    th:value="${shop.address}"
                                    required  lay-verify="required"
                                    placeholder="请输入地址" autocomplete="off" class="layui-input"
                                    readonly
                            >
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">经纬度</label>
                        <div class="layui-input-block">
                            <input type="text" name="coordinate"
                                    th:value="${shop.coordinate}"
                                    required  lay-verify="required"
                                    placeholder="请输入经纬度" autocomplete="off" class="layui-input"
                                    readonly
                            >
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">电话号</label>
                        <div class="layui-input-block">
                            <input type="text" name="phone"
                                    th:value="${shop.phone}"
                                    required  lay-verify="required"
                                    placeholder="请输入电话号" autocomplete="off" class="layui-input"
                                    readonly
                            >
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">营业开始时间</label>
                        <div class="layui-input-block">
                            <input type="text" name="bizStartTime"
                                    th:value="${shop.bizStartTime}"
                                    required  lay-verify="required"
                                    placeholder="请输入营业开始时间" autocomplete="off" class="layui-input"
                                    readonly
                            >
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">营业结束时间</label>
                        <div class="layui-input-block">
                            <input type="text" name="bizEndTime"
                                    th:value="${shop.bizEndTime}"
                                    required  lay-verify="required"
                                    placeholder="请输入营业结束时间" autocomplete="off" class="layui-input"
                                    readonly
                            >
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">包间总数</label>
                        <div class="layui-input-block">
                            <input type="text" name="roomTotal"
                                    th:value="${shop.roomTotal}"
                                    required  lay-verify="required"
                                    placeholder="请输入包间总数" autocomplete="off" class="layui-input"
                                    readonly
                            >
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">营业状态</label>
                        <div class="layui-input-block">
                            <input type="text" name="shopStatus"
                                    th:value="${shop.shopStatus}"
                                    required  lay-verify="required"
                                    placeholder="请输入0 - 营业中， 10 - 已关店， 20 - 暂停营业" autocomplete="off" class="layui-input"
                                    readonly
                            >
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">搜索状态</label>
                        <div class="layui-input-block">
                            <input type="text" name="shopSearchable"
                                    th:value="${shop.shopSearchable}"
                                    required  lay-verify="required"
                                    placeholder="请输入0 - 可搜索， 20 - 不可搜索" autocomplete="off" class="layui-input"
                                    readonly
                            >
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">店主名</label>
                        <div class="layui-input-block">
                            <input type="text" name="shopOwnerName"
                                    th:value="${shop.shopOwnerName}"
                                    required  lay-verify="required"
                                    placeholder="请输入店主名" autocomplete="off" class="layui-input"
                                    readonly
                            >
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">设备id</label>
                        <div class="layui-input-block">
                            <input type="text" name="deviceId"
                                   th:value="${shop.deviceId}"
                                   required  lay-verify="required"
                                   placeholder="请输入设备id" autocomplete="off" class="layui-input"
                                   readonly
                            >
                        </div>
                    </div>
                </form>

            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.page-content -->
</div>

</html>

<script th:src="${'/static/js/shop/detail.js'}"></script>